<!DOCTYPE html>
<html>
	<head>
		<title>MongoBrowser</title>
		<link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all.css">
		<script type="text/javascript" src="extjs/ext-<%= development ? 'dev' : 'all' %>.js"></script>
		<script type="text/javascript">
			Ext.Loader.setConfig({ enabled: true, disableCaching: false });
			Ext.Loader.setPath('Ext', 'extjs/src');
			Ext.Loader.setPath('MongoBrowser', 'js');
			Ext.require(['MongoBrowser.app.Main']);
			Ext.onReady(function() {
				Ext.create('MongoBrowser.app.Main', { name: 'MongoBrowser', appFolder: 'js' });
			});
		</script>
	</head>
	<body></body>
</html>
